
<% obj.each do |article| %>

<div class="container2">
  <div class="jumbotron2">
    <div class="row2">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail2">
      <ul class="ul">
        <li><%= link_to article.title, article_path(article), class: "titlearticles" %></li>
         <li>
          <% if article.image %>
            <img class="imgarticles" src="<%= article.image %>">
          <% end %>
        </li>
        <li id="titlearticle"><small>Created by:</small>

         <%= article.user.username if article.user%>
         <% if article.user.image %>
         <img width="50" height="50" style="border-radius: 50%; object-fit: cover;" src="<%= article.user.image if article.user %>">
         <% end %>
        </li>
      </ul>
        
      </div>
    </div>
  </div>
  </div>
</div>
<% end %>

