<%= render 'welcome/header' %>
<div id="show2">
  <h1><%= @user.username %>'s page</h1>
  <% if @user.image %>
    <img id="userimg" src="<%= @user.image %>">
  <% else %>
    <img src="https://imageog.flaticon.com/icons/png/512/36/36601.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF">
  <% end %>
  <h3>Products:</h3>
  <%= render 'articles/article', obj: @user.articles %>
</div>
