<%= render 'header' %>

<div class="main">
  <div class="container">
    <p>Food is better when you start from scratch</p> 
    <%= link_to 'Sign Up', signup_path, class: "btn bnt-lg btn-success" %>
  </div>
</div>